@import "styles/variables.module";

.header {
  padding: 0px 24px;
  background-color: #fff !important;
}

.logo {
  float: left;
  width: 120px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: $primary-color;
  cursor: pointer;
}
